.Title {
  margin-left: -35%;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  font-size: x-large;
}

.titleLine {
  color: rgb(190, 178, 178, 0.6);
  margin-bottom: 2em;
  margin-right: 15%;
}

.Wfp-logo {
  height:       10vh;
  position: relative;
  top:          15px;
  left:         70%;
}

.Sync-button {
  margin-top: 2em;
  position: relative;
  bottom: 10px;
  left: 10%;
  height: 60px;
}

.b1 {
  height: 40px;
  width: 65%;
  border-color: #00a3e4;
  background-color: #00a3e4;
  margin-bottom: 1.7em;
}

