h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: center;
  border-color: #605f6323;
  border-width: 0px;
  background-color: #605f6323;
  border-radius: 8px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.returnB {
  margin-top: 5%;
  padding-left: 7px;
  padding-right:7px;
  padding-top: 2px;
}

.Hline {
  color: rgb(190, 178, 178, 0.6);
  margin-bottom: 2em;
  margin-right: 10%;
  margin-left: 10%;
}

@media (max-width: 460px) {
  .Hline {
    margin-right: 0%;
    margin-left: 0%;
  }
}